<html>
  <head>
    <title>Plankton to Pixels Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  </head>
  <body>
  <a href="/">    
    <img src="{{ url_for('static', filename = 'arlingtonecho.jpeg') }}">
    </a>
    <form>

      <h1> Database Entry No. ___</h1>
      <p>Date: <input type="text"> / <input type="text"> / <input type="text"></p>
      <p>Time Data was taken: <input type="text">:<input type="text"></p>
      <br>

      <h3><u>Water Quality Tests</u></h3>
      <p>Water Temperature: <input type="number" name="temp"> Degrees F</p>
      <p>Turbidity: <input type="number" name="turbidity"> cm</p>
      <p>Salinity: <input type="number"name="salninity"> ppt</p>
      <p>Dissolved Oxygen: <input type="number" name="do"> ppm</p>
      <br>
      
      <h3><u>Macrorganisms</u></h3>
      <p>Fish <input type="number" min="0" max="3"></p>
      <p>Crabs <input type="number" min="0" max="3"></p>
      <p>Shrimp <input type="number" min="0" max="3"></p>
      <br>

      <h3><u>Phytoplankton Results</u></h3>
      <p>Akashiwo Sanguinia (A) <input type="number" min="0" max="3"></p>
      <p>Heterocapsa triquetra (B) <input type="number" min="0" max="3"></p>
      <p>Protoperidinium pellucidum (C) <input type="number" min="0" max="3"></p>
      <p>Gyrodinium uncatenum (D) <input type="number" min="0" max="3"></p>
      <p>Cyanobacteria (E) <input type="number" min="0" max="3"></p>
      <p>Actinoptychus Senarius (F) <input type="number" min="0" max="3"></p>
      <p>Cyclotella (G) <input type="number" min="0" max="3"></p>
      <p>Dactyliosolen fragilissimus (H) <input type="number" min="0" max="3"></p>
      <p>Skeletonema costatum (I) <input type="number" min="0" max="3"></p>
      <br>
      
      <h3><u>Zooplankton</u></h3>
      <p>Copepod (J)<input type="text"></p>
      <p>Rotifer (K) <input type="text"></p>
      <p>Shrimp/Crab Larva (L)<input type="text"></p>
      <br>
      
      <p>Notes:</p>
      <textarea name="message" rows="10" cols="30"></textarea>
      
      <br>

      <input type="submit" value="Submit"> 
      <button type="button">Restart</button>
    </form>
  </body>
</html>