<html>
  <head>
    <title>Plankton to Pixels Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  </head>
  <body>
   <thead>
      <tr>
         <td>&nbsp;</td>
         <th scope="col">2012</th>
         <th scope="col">2013</th>
         <th scope="col">2014</th>
         <th scope="col">2015</th>
         <th scope="col">2016</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th scope="row">Carbon Tiger</th>
         <td>4080</td>
         <td>6080</td>
         <td>6240</td>
         <td>3520</td>
         <td>2240</td>
      </tr>
  </body>
</html>