<html>
  <head>
    <title>Plankton to Pixels Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  </head>
  <body>
    <a href="/">    
    <img src="{{ url_for('static', filename = 'arlingtonecho.jpeg') }}">
    </a>
    <ul>
    <li><b><a href="form">Form</a></b></li>
    <li><b><a href="table">Table</a></b></li>
    <li><b><a href="graphs">Graphs</a></b></li>
    <li><b><a href="download">Download</a></b></li>
    </ul>
    <br>
    <br>
    <h1>This is my homepage!</h1>
    <p>This is a rough draft of the Plankton to Pixels database. Most of the features
    in here are placeholders and do not have a function or action associated with
    them at the moment. Also, the styling is not final and subject to change.</p>
    <h3>Homepage</h3>
    <p>The homepage will consist of information regarding how to navigate the database
    and information on what the website does. Also, you can go immediatly to the 
    homepage by clicking the Arlington Echo image in the top left!
    <h3>Form</h3>
    <p>As you can see, the form is well constructed and is close to having
    data inputted into it. I have been able to hardcode data into the database,
    but it has been having trouble getting data from the form itself. There will
    also be a login page before the form to make sure that nobody outside
    of Arlington Echo is putting in false information.</p>
    <h3>Table</h3>
    <p>This is the first few vairables that are hardcoded into a table.
    Format of the table is not entirely finalized, but it does show how the
    table will be structured.
    <h3>Graphs</h3>
    <p>The graphs I have found on Highcharts look very promising to show the
    data in a visually appealing way.</p>
    <h3>Download</h3>
    I intend to have the data from the database open to be downloadable and have
    anyone who wants to use the data recieve it through a CSV file.
    
  </body>
</html>