<html>
  <head>
    <title>Plankton to Pixels Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  </head>
  <body>
    <a href="/">    
    <img src="{{ url_for('static', filename = 'arlingtonecho.jpeg') }}">
    </a>
    <ul>
    <li><b><a href="form">Form</a></b></li>
    <li><b><a href="graphs">Graphs</a></b></li>
    <li><b><a href="#">Link three</a></b></li>
    <li><b><a href="#">Download</a></b></li>
    </ul>
    <br>
    <br>
    <h1>This is my homepage</h1>
  </body>
</html>