{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <div class="ui-grid-b ui-responsive">
      <div class="ui-block-a">
       <p>Username: <input type="text" name=username >
        <p>Date: <input type="datetime-local" data-clear-btn="true" name="date" id="datetime-4" value="2015-05-02T02:10" style="width:200px;"> </p>
        <br>
  
        <h3><u>Water Quality Tests</u></h3>
        <p>Water Temperature (Degrees F): <input type="number" name="temp" ></p>
        <p>Turbidity (cm): <input type="number" name="turbidity" ></p>
        <p>Salinity (ppt): <input type="number"name="salinity" ></p>
        <p>Dissolved Oxygen (ppm): <input type="number" name="do" ></p>
        <br>
      </div>
      <div class="ui-block-b">
      <h3><u>Macrorganisms</u></h3>
        <p>Fish <input type="number" min="0" max="3" name="fish"></p>
        <p>Crabs <input type="number" min="0" max="3" name="crabs"></p>
        <p>Shrimp <input type="number" min="0" max="3" name="shrimp" ></p>
        <br>

        <h3><u>Phytoplankton Results</u></h3>
        <p>Akashiwo Sanguinia (A) <input type="number" min="0" max="3" name="phytoA" ></p>
        <p>Heterocapsa triquetra (B) <input type="number" min="0" max="3" name="phytoB" ></p>
        <p>Protoperidinium pellucidum (C) <input type="number" min="0" max="3" name="phytoC" ></p>
        <p>Gyrodinium uncatenum (D) <input type="number" min="0" max="3" name="phytoD" ></p>
        <p>Cyanobacteria (E) <input type="number" min="0" max="3" name="phytoE" ></p>
        <p>Actinoptychus Senarius (F) <input type="number" min="0" max="3" name="phytoF" ></p>
        <p>Cyclotella (G) <input type="number" min="0" max="3" name="phytoG" ></p>
        <p>Dactyliosolen fragilissimus (H) <input type="number" min="0" max="3" name="phytoH" ></p>
        <p>Skeletonema costatum (I) <input type="number" min="0" max="3" name="phytoI" ></p>
        <br>
      </div>
      <div class="ui-block-c">
        <h3><u>Zooplankton</u></h3>
        <p>Copepod (J)<input type="text" name="zooJ"></p>
        <p>Rotifer (K) <input type="text" name="zooK"></p>
        <p>Shrimp/Crab Larva (L)<input type="text" name="zooL"></p>
        <br>
      
        <p>Notes:</p>
        <textarea rows="10" cols="30" name="notes"></textarea>
      
        <br>

        <input type=submit value=Submit data-inline="true">
        <input type=reset value=Reset data-inline="true" data-theme="a">
      </div>
    </div>
    </form>
  {% endif %}  
{% endblock %}
