<html>
  <head>
    <title>Plankton to Pixels Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  </head>
  </head>
  <body>
  <a href="/">    
    <img src="{{ url_for('static', filename = 'arlingtonecho.jpeg') }}">
    </a>
    <ul>
    <li><b><a href="form">Form</a></b></li>
    <li><b><a href="table">Table</a></b></li>
    <li><b><a href="graphs">Graphs</a></b></li>
    <li><b><a href="download">Download</a></b></li>
    </ul>
    <br>
    <br>
    <br>
   <table style="width:100%">
    <tr>
     <th>Entry #</th>
     <th>Date</th>
     <th>Time</th>
     <th>Submitter</th>
     <th>Temperature (F)</th>
     <th>Turbidity (cm)</th>
     <th>Salinity (ppt)</th>
     <th>Dissolved Oxygen (ppm)</th>
    </tr>
    <tr>
     <td>1</td>
     <td>4/24/2015</td>
     <td>11:00</td>
     <td>Noah Zingler</td>
     <td>56</td>
     <td>19</td>
     <td>4</td>
     <td>7</td>
    </tr>
    <tr>
     <td>2</td>
     <td>4/26/2015</td>
     <td>15:00</td>
     <td>Noah Zingler</td>
     <td>50</td>
     <td>16</td>
     <td>6</td>
     <td>6</td>
    </tr>
   </table>
  </body>
</html>
